{% extends 'base.html.twig' %}

{% block title %}Nouvelle intervention{% endblock %}

{% block body %}
    <center>
        
        <h1>Créer une nouvelle intervention</h1>

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <!-- Formulaire de création -->
                    <div class="card shadow">
                        <div class="card-body">
                            {{ form_start(form) }}
                                {{ form_widget(form) }}
                                
                                <!-- Bouton créer -->
                                <div class="mt-3">
                                    <button class="btn btn-success">Créer</button>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>

                    <!-- Lien pour retourner à la liste, avec une marge supérieure -->
                    <div class="mt-4 text-center">
                        <a class="btn btn-secondary" href="{{ path('app_intervention_index') }}">Retour à la liste</a>
                    </div>
                </div>
            </div>
        </div>
    </center>

    <div class="col py-3">
        {% block main_content %}{% endblock %}
    </div>

    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
{% endblock %}
