{% extends 'base.html.twig' %}

{% block title %}Signalement{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Détails du Signalement {{ signalement.description }}</h1>

        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Description</th>
                    <td>{{ signalement.description }}</td>
                </tr>
                <th>Salle</th>
                  <td>{{ signalement.salles ? signalement.salles.nom : 'N/A' }}</td> <!-- Affiche le nom de la salle -->
                  </tr>
                  <tr>
                <th>Matériel endommagé</th>
                    <td>{{ signalement.materiel ? signalement.materiel.nom : 'N/A' }}</td> <!-- Affiche le nom du matériel -->
                <tr>
                    <th>Date de signalement</th>
                    <td>{{ signalement.dateSignalement ? signalement.dateSignalement|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Utilisateur</th>
                    <td>{{ signalement.user ? signalement.user.statut : 'N/A' }}</td> <!-- Affiche le nom de l'utilisateur -->
                </tr>
            </tbody>
        </table>

        <div class="button-container mt-4">
            <a href="{{ path('app_signalement_index') }}" class="btn btn-primary">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
